.hero {
    max-width: 60%;
    height: 100vh;
    font-family: Arial;
    font-style: normal;
    color: white;
    background-color: #23252F;
}

.container {
    padding: 0 100px;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.time {
    font-size: 16px;
    font-weight: 400;
}

.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}